body {
  background-color: #B1aca7;
  color: #2F2F2F;
  margin: 10% 5%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  background-color: rgba(0,0,0, 0.1);
}
